sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: LHznGEHgTBD9WpqMAU6RkUB5BTAZosVG3DmJ+QApJmgNrwA6YT7uuHO01Npnb3+MhOOzYNkqe+LCVYF3aHL2fUBlBJnLlsOseHtkXnyj5qcMkC983sun/j8Nk8dJOFmEt3rcdfjZxaW5mlPqOslvDNQaDPDf5AS81jHkN5NwFEc8PypCZpsamhFvRXkDrsvbg8QqxIBFcPxw/+iHadS4IC5jkIQQBjN6F3bF6hp4nbdTIjnd3Z90pWagB7Hp/W4phUlkCeYqPU/luJN8LKRJgsi6BQBZFrjVGZrZcQwG/AtnHiL92JSOC1Iz6+s/Z4yKOFGir4PZDWus7fAzA8AAcBBEUhRUYJICkdx4d/X4JHIYdc9s1UgOgDyLGpwpw12UnFrWm0IAJCX9Kp8QlJvJe+GZOmv5WQYrro3hJPvVtQFEK5zZ8B1xQPIK6+qRrDwY8SBGejnn7IEeOHxs4/+O5mrGiiQRl/l21oBoqaQ1AFpDl2s2WGbmhoQcnOpYlQk2FZLuLn7mVByMzAYz3v3YcPp3B8J2yfCOICPGLHR8STUhTuq0dVUym2IEGp/CCn+LrrrO51VLvoEOpR+beefIHpAweSaqbk1Yr4mBUV8M1ozVAOUc1EXVtqwUHz9GKEIcA2yV5dSAIzEUVc8M92mw3p4cA2mAeXwYwsd/7Vg1jN0=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Cyropaedia--The-Education-of-Cyrus_2085
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy